@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33.3% 98%; /* #FDFDF5 */
    --foreground: 75 8% 9.4%; /* #1A1C18 */

    --card: 48 33.3% 98%; /* #FDFDF5 */
    --card-foreground: 75 8% 9.4%; /* #1A1C18 */

    --popover: 48 33.3% 98%; /* #FDFDF5 */
    --popover-foreground: 75 8% 9.4%; /* #1A1C18 */

    --primary: 164 100% 33%; /* #00A982 - Derived from #006B55 */
    --primary-foreground: 0 0% 100%;

    --secondary: 153 38% 86%; /* #D7E8E1 - Derived from hsl(153, 38%, 86%) */
    --secondary-foreground: 163 64% 8%; /* #0A1F17 - Derived from hsl(163, 64%, 8%) */

    --muted: 153 38% 86%;
    --muted-foreground: 158 19% 25%;

    --accent: 336 100% 64%; /* #FF47A1 - Derived from hsl(336, 100%, 28%) */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 174 13% 81%; /* #BFC8CA */
    --input: 174 13% 81%;
    --ring: 164 100% 33%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 75 8% 9.4%; /* #1A1C18 */
    --foreground: 60 8% 90%; /* #E3E3DC */
    
    --card: 75 8% 9.4%;
    --card-foreground: 60 8% 90%;
    
    --popover: 75 8% 9.4%;
    --popover-foreground: 60 8% 90%;
    
    --primary: 163 63% 62%; /* #61DBB8 */
    --primary-foreground: 164 100% 6%; /* #002118 */
    
    --secondary: 160 18% 25%; /* #344C43 */
    --secondary-foreground: 156 31% 87%; /* #CEE9DD */
    
    --muted: 160 18% 25%;
    --muted-foreground: 155 20% 75%;
    
    --accent: 341 100% 85%; /* #FFB2CA */
    --accent-foreground: 336 100% 28%; /* #900046 */
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 195 12% 24%; /* #3F484A */
    --input: 195 12% 24%;
    --ring: 163 63% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
  }
}
